@charset "utf-8";
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    vertical-align: baseline;
}
body{
    margin: auto;

}



.mid{
    margin-top: 100px;
    width: 1200px;
    height: 650px;
}

.bg {
    float: left;
    background-image: url("../img/首页.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 1100px;
    height: 600px;
    text-align: center;
    line-height: 600px;
    -webkit-filter: blur(2px);
    -moz-filter: blur(2px);
    -o-filter: blur(2px);
    -ms-filter: blur(2px);
    filter: blur(2px);
}

.bg-blur {
    float: left;
    width: 1100px;
    height: 600px;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: rgba(255, 255, 255, 0.28);
}
.content-front {
    font-size: 40px;
    position:absolute;
    left: 10px;
    right: 10px;
    height:600px;
    line-height: 600px;
    text-align: center;
}
.content-front a{
    color: #434343cc;
    text-decoration: none;

}

.content-front a:hover{
    color: #8dc73f;
    text-decoration: none;
}

.content11{
    height: 80px;
}






